---
{% macro get_val(facts, key) %}
{%- if facts -%}
{%- if not '.' in key -%}
{{ facts[key] | default('n.a.') }} |
{%- else -%}
{% set attrs = key.split('.') %}
{{ [attrs[0]] | map('extract', facts, attrs[1:]) | first }} |
{%- endif -%}
{%- else -%} - |{%- endif %}
{% endmacro -%}

# Ansible Host Overview

**Inventory**: {{ inventory_fn }}

{% set all_fields = ['NAME'] | union(table_fields) %}
| {%- for field in all_fields %} {{ custom_labels[field] | default(labels[field] | default(field)) }} |
{%- endfor %}

|{% for field in all_fields %} {{ '-' * custom_labels[field] | default(labels[field] | default(field)) | length }} |{%- endfor %}

{% for hostname in all_hosts %}
{% set host_facts = hostvars[hostname]['ansible_facts'] %}
| **{{ hostname }}** | {% for key in table_fields %} {{ get_val(host_facts, key) }}{% endfor %}

{% endfor %}
